<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | EDC PVGCOET</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Your custom CSS (if any) -->
</head>
<body class="bg-gray-100">

<!-- Navigation Bar -->
<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-2xl font-bold" href="{% url 'event_list' %}">EDC Event Portal</a>
        <div class="flex space-x-4">
            <ul class="flex space-x-4">
                <li class="nav-item">
                    <a class="text-white hover:text-blue-200" href="{% url 'event_list' %}">Events</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="text-white hover:text-blue-200" href="{% url 'user_profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:text-blue-200" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="text-white hover:text-blue-200" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:text-blue-200" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container mx-auto mt-8 p-4">
    {% if user.is_superuser %}
        {% comment %} <a href="{% url 'participants_list' %}">Participants list</a> {% endcomment %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
