{% extends 'base.html' %}
{% block title %}Events{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <h2 class="mb-4">Available Events</h2>
        <div class="list-group">
            {% for event in events %}
                <div class="list-group-item mb-4">
                    <h3 class="mb-2">{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Start Date:</strong> {{ event.start_date }}</p>
                    <p><strong>End Date:</strong> {{ event.end_date }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary mr-2">Details</a>

                    {% if user.is_superuser %}
                        <a href="{% url 'event_participants_list' event.id %}" class="btn btn-info">Participant list</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
